.cover{
    padding: 2em;
    height: 450px;
    background: rgb(172, 172, 172);
}

img{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.box{
   width: 100%;
   height: 100%;
   background-color: aqua;
   color: #fff;
   text-align: center;
}

.topb{
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
    height: .25rem;
    width: 100%;
    background-position-x: -1.875rem;
    background-size: 7.25rem .1875rem;
    border: 0;
}